@mixin orta(){
    display: flex;
    align-items: center;
    justify-content: center;
}
.api-item{
    background-color: #fff;
    width: calc(100%/4);
    border-radius: 10px;
    margin: 0 7px 14px;
    padding: 30px;
    display: flex;
    box-shadow: 0 20px 53px -30px rgba(#5F66AD, .57) ;
    min-height: 210px;
    overflow: hidden;
    position: relative;
    .item-icon{
        width: 64px;
        height: 64px;
        min-width: 54px;
        display: grid;
        place-items: center;
        margin-right: 25px;
    }
    .item-detail{
        h4{
            font-size: 22px;
            color: #151926;
            margin-bottom: 5px;
        }
        .item-category{
            font-size: 14px;
            color: rgba(#151926, .7);
            margin-bottom: 10px;
        }
        .item-description{
            font-size: 14px;
            color: #151926;
            transition: .3s opacity;
        }
    }
    .item-hover{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 88px;
        background: #F9FBFC;
        @include orta();
        padding: 0px;
        transform: translateY(100%);
        transition: .3s transform;
        a,button{
            flex: 1;
            margin: 0 9px;
            height: 40px;
            @include orta();
            border-radius: 5px;
            font-size: 16px;
        }
        a{
            background-color: #141A31;
            color: #fff;
            svg{
                width: 24px;
                height: 24px;
                margin-left: 5px;
            }
        }
        button{
            color: #141A31;
            svg{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
    &:hover{
        .item-detail .item-description{
            opacity: 0;
        }
        .item-hover{
            transform: translateY(0);
        }
    }
}